worker_processes  5;

events {
  worker_connections  4096;
}

http {
  include    /etc/nginx/mime.types;
  include    /etc/nginx/proxy.conf;

  default_type application/octet-stream;
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /dev/stdout  main;
  error_log   /dev/stderr  warn;

  server { # HTTP
    listen       80;
    {% if env("CERT_DOMAIN") %}
    server_name  {{ env("CERT_DOMAIN") }};
    {% endif %}

    location ~ ^/\.dynname/ {
      proxy_pass      http://localhost:8080;
    }

    location / {
      proxy_pass      http://{{ env("UPSTREAM_HTTP_HOST") }}:{{ env("UPSTREAM_HTTP_PORT") }};
    }
  }

  {% if env("CERT_EXISTS") %}
  server { # HTTPS
    listen       443;
    ssl on;
    {% if env("CERT_DOMAIN") %}
    server_name  {{ env("CERT_DOMAIN") }};
    {% endif %}

    ssl_certificate {{ env("CERT_DIR") }}/fullchain.pem;
    ssl_certificate_key {{ env("CERT_DIR") }}/privkey.pem;

    location / {
      proxy_pass      http://{{ env("UPSTREAM_HTTPS_HOST") }}:{{ env("UPSTREAM_HTTPS_PORT") }};
    }
  }
  {% endif %}
}
